<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Weather App</title>
     <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
</head>

<body>
     <header>
          <h1>Weather App</h1>
          <nav>
               <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
               </ul>
          </nav>
     </header>

     <main>
          <section class="hero">
               <div class="hero-content">
                    <h2>Get the latest weather updates</h2>
                    <p>Check the weather forecast for your location and around the world.</p>
                    <form class="locationForm" action="/weather" method="get">
                         <input type="text" name="city" class="location" placeholder="Enter city name" required>
                         <button type="submit" class="getWeather">Get Weather</button>
                    </form>
               </div>
               <div th:if="${errorMessage}" class="error-message-alert" th:text="${errorMessage}"></div>
          </section>

     
     

     </main>

     <footer>
          <p>&copy; 2023 Weather App</p>
     </footer>


</body>

</html>