<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Weather Details</title>
     <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
     <header>
          <h1>Weather App</h1>
          <nav>
               <ul>
                    <li><a th:href="@{/}">Home</a></li>
               </ul>
          </nav>
     </header>

     <main class="weather-main" th:if="${weatherData != null}">
          <section id="details-container">
               <h2 th:text="${weatherData.name}"></h2>

               <div id="weather-icon-container">
                    <img th:src="'http://openweathermap.org/img/w/' + ${weatherData.weather[0].icon} + '.png'"
                         alt="Weather Icon">
                    <p th:text="${weatherData.weather[0].description}"></p>
               </div>

               <div id="temperature-info">
                    <div class="temp-item">
                         <p>Feels Like</p>
                         <span th:text="${weatherData.main.feels_like} + '°C'"></span>
                    </div>
                    <div class="temp-item">
                         <p>Min Temp</p>
                         <span th:text="${weatherData.main.temp_min} + '°C'"></span>
                    </div>
                    <div class="temp-item">
                         <p>Max Temp</p>
                         <span th:text="${weatherData.main.temp_max} + '°C'"></span>
                    </div>
               </div>

               <div id="sun-info">
                    <div class="sun-item">
                         <p>Sunrise</p>
                         <span th:text="${weatherData.sys.sunrise}"></span>
                    </div>
                    <div class="sun-item">
                         <p>Sunset</p>
                         <span th:text="${weatherData.sys.sunset}"></span>
                    </div>
               </div>

               <div id="wind-info">
                    <p>Wind Speed: <span th:text="${weatherData.wind.speed} + ' m/s'"></span></p>
               </div>

               <div class="detail-item">
                    <span class="detail-label">Humidity:</span>
                    <span th:text="${weatherData.main.humidity} + '%'"></span>
               </div>
               <div class="detail-item">
                    <span class="detail-label">Pressure:</span>
                    <span th:text="${weatherData.main.pressure} + ' hPa'"></span>
               </div>

          </section>
     </main>

     <footer>
          <p>&copy; 2023 Weather App</p>
     </footer>
</body>

</html>